@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=EB+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300&family=Space+Grotesk:wght@400;700&display=swap');

body{
    background-color:  #FFD596;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
    
    font-family: 'Manrope', serif;
}
.korea:hover {
    font-style: italic;
}


.record h2,
.record h3,
.record h4{
    text-align: center;
    color: #0000FF;
}

.record h2{
    font-size: 2.5vh;
    text-align: left;
    padding-top: 5%;
    margin-left: 7px;
}

.record h4{
    font-size: 1.5vh;
    text-align: left;
    margin-left: 9px;
}


.record-images {
    display: flex;  /* Changed from flex to grid */
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));  /* Auto-fill columns */
    gap: 16px;  /* Gap between items */
    /* border-right: 1px solid #000; */
}

.record-image {
    padding: 0.5%;
    /* border-left: 1px solid #000; */
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  /* Resize the image to cover the div */
}

.record-image img {
    width: 78%;  /* Changed to 100% to fill the div */
    height: auto;  /* Maintain aspect ratio */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.7);
}


.modal-images{
    left: 0;
    top: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: 999;
    display: none;
}

.modal-image{
    text-align: center;
}

.modal-image img{
    height: 80vh;
    margin-top: 10vh;
}

#modal-pre,#modal-next{
    height: 100%;
    position: absolute;
    width: 40px;
    outline: none;
    border: 0;
    background-color: rgba(255, 255, 255, .2);
    top: 0;
}

#modal-pre:hover
,#modal-next:hover{
    background-color: rgba(255, 255, 255, .5);
}

#modal-pre{
    left: 0;
}

#modal-next{
    right: 0;
}

h1{
    color:black;
    text-align: center;
    font-size: 120px;
    font-family: 'Manrope', serif;
}

